@import '../design/colors';
@import '../design/text';
@import '../design/tools';

#work{
    padding: 50px 225px;
    text-align: center;
    font-family: 'roboto';
    .examples{
        display: flex;
        margin-top: 30px;
        margin: 0 auto;
    }
    .examples .example{
        text-align: left;
        margin: 20px;
        // max-width:250px;
        @include card;
        h2{
            margin: 18px 0;
        }
        h3{
            font-size: 16px;
        }
        p{
            margin-top: 10px;
            padding-right: 50px;
        }
    }
    .examples .example img{
        height: 150px;
        width: 100%;
    }
}