

header{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: lightblue;;
    button{
        background: $primaryBtn;
        &:hover{
            background-color: green;
        }
    }
}